*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body[data-theme="light"]
{
 background-color: whitesmoke;
}
body[data-theme="dark"]
{
 background-color: black;
}
.head{
    position: absolute;
    right:30px;
    top:10px;
    color:teal;
    text-shadow: 1px 0.5px whitesmoke;

}
.theme-switcher{
  position:absolute;
  right:40px;
  top:20px;
}
input{
  width:0;
  height:0;
  visibility: hidden;
}
label{
  display: block;
  text-indent: -9999px;
  height:30px;
  width:60px;
  background-color: white;
  border-radius: 50px;
  position: relative;
  border:2px solid rgb(236, 207, 173);
  transition: .5s ease background-color;
}
label::after
{
  position: absolute;
  content:"";
  width: 20px;
  height:20px;
  border-radius: 50px;
  background-color: black;
  top:50%;
  left:5px;
  transform: translateY(-50%);
  cursor: pointer;
  transition: .5s ease;
}  

input:checked + label{
  background-color: black;
  border:2px solid white;
}
input:checked + label::after{
  background-color: white;
  left: calc(100% - 25px);

}
.heading
{
    color:rgb(75, 68, 68);
    font-size: 100px;
    font-weight: 600;
    text-align: center;
    margin-top: 50px;
    text-shadow:3px 2.5px teal;
}
#calculator
{
    width:385px;
    height:640px;
    margin:0 auto;
    margin-top:40px;
    position: relative;
    background-color:teal;
    border-radius: 15px;
    border:2.5px solid black;
}
#result
{
    height:120px;
}
#keyboard
{
    height:400px; 
}
#history
{
    text-align: right;
    height:22px;
    margin:10 20;
    padding-top:17px;
    font-size:20px;
    padding-right: 2px;
    font-weight: 500;
    color:black
}
#output
{
    text-align:right;
    height:65px;
    margin:10px 20px;
    font-size: 30px;
    font-weight: bolder;
}
.number,#empty,.operator
{
    height:75px;
    width:75px;
    float:left;
    margin:10px;
    text-align: center;
    border-radius: 50%;
    border-width: 0;
    font-size: 20px;
}
.operator,.number
{
    font-weight: 600;
    font-size:20px ;
    cursor:pointer;
}
.operator:active,.number:active
{
    font-size: 13px;
}
.operator:focus,.number:focus,#empty:focus
{
    outline: 0;
}
button:nth-child(1)
{
    color:red;
}
button:nth-child(2)
{
    color:green;
}
button:nth-child(4)
{
    font-size:25px;
    background-color: #bfffe6;
    border:1px solid #20b2aa
}
button:nth-child(8)
{
    font-size:25px;
    background-color: #bfffe6;
    border:1px solid #20b2aa
}
button:nth-child(12)
{
    font-size:25px;
    background-color: #bfffe6;
    border:1px solid #20b2aa
}
button:nth-child(16)
{
    font-size:25px;
    background-color: #bfffe6;
    border:1px solid #20b2aa
}
button:nth-child(20)
{
    font-size:25px;
    background-color: #bfffe6;
    border:1px solid #20b2aa
}